amqp==5.3.1
APScheduler==3.11.0
asgiref==3.9.2
billiard==4.2.2
boto3==1.42.51
botocore==1.42.51
cachetools==6.2.0
celery==5.5.3
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
dj-database-url==3.1.1
Django==5.2.6
django-anymail==14.0
django-apscheduler==0.7.0
django-storages==1.14.6
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
google-api-core==2.25.1
google-api-python-client==2.184.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
gspread==6.2.1
gunicorn==21.2.0
httplib2==0.31.0
idna==3.10
jmespath==1.1.0
kombu==5.5.4
mysqlclient==2.2.7
numpy==2.3.3
oauthlib==3.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pillow==10.4.0
prompt_toolkit==3.0.52
proto-plus==1.26.1
protobuf==6.32.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2025.2
redis==6.4.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
whitenoise==6.11.0
django-storages
google-cloud-storage
weasyprint==63.0
