{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña - SYMA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/modales.css' %}">
    <link rel="stylesheet" href="{% static 'css/funcion_ojo.css' %}">
    <link rel="icon" href="{% static 'img/icono.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <section class="contenedor_principal">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="SYMA">

            <section class="contenedor_secundario"> 
                <section class="contenedor_izquierdo">
                    <h2 class="restablecer">Recupera tu contraseña</h2>
                    <p>Crea una contraseña segura para asi proteger toda su informacion</p>
                    <img class="imagen_logon" src="{% static 'core/img/login.png' %}">
                </section>

                <section class="contenedor_derecho">
                    <form id="formularioIngreso" method="post">
                        {% csrf_token %}

                        <fieldset  class="encabezado">
                            <legend class="restablecer">Cambio de contraseña</legend>

                            <div class="campo password-container">
                                {% render_field form.new_password1 class="correo" placeholder="Nueva contraseña" id="new_password1" %}
                                <i class="fa-solid fa-eye-slash togglePassword" data-target="new_password1"></i>
                            </div>

                            <div class="campo password-container">
                                {% render_field form.new_password2 class="correo" placeholder="Confirmar contraseña" id="new_password2" %}
                                <i class="fa-solid fa-eye-slash togglePassword" data-target="new_password2"></i>
                            </div>

                            <!-- Errores traducidos -->
                            {% if form.errors %}
                            <div class="mensaje-error">
                                <ul>
                                    {% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                        <li>
                                            {% if error == "This password is too short. It must contain at least 8 characters." %}
                                            Esta contraseña es demasiado corta. Debe tener al menos 8 caracteres.
                                            {% elif error == "This password is too common." %}
                                            Esta contraseña es demasiado común.
                                            {% elif error == "This password is entirely numeric." %}
                                            Esta contraseña no puede estar compuesta únicamente por números.
                                            {% elif error == "The two password fields didn’t match." %}
                                            Las contraseñas no coinciden.
                                            {% else %}
                                            {{ error }}
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            <button id="btnEnviar" class="boton" type="submit" class="btn-guardar">
                                Restablecer contraseña
                            </button>

                            <a class="recuperar restablecer_contraseña" href="{% url 'login' %}">Volver al inicio de sesión</a>
                        </fieldset>
                    </form>
                </section>
            </section>
        </section>
    </main>

    <div class="modal fade modal-success" id="exitoModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-5 position-relative">
                <div class="modal-body">
                    <p class="fs-5">Tu contraseña ha sido restablecida exitosamente! Ya puedes iniciar sesión con tu
                        nueva contraseña<br> <br> <a class="link_correo" href="{% url 'login' %}"><strong>Iniciar sesión</strong></a>
                    </p>
                </div>
                <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal"
                    aria-label="Cerrar">
                </button>
            </div>
        </div>
    </div>


    <!-- Modal de Advertencia -->
    <div class="modal fade" id="advertenciaModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-4 position-relative">
                <!-- Botón X -->
                <div class="modal-body">
                    <p class="advertencia-texto">
                        <i class="fa-solid fa-triangle-exclamation text-danger"></i>
                        Aún no tienes todos los datos ingresados
                    </p>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn-close position-absolute end-0 top-0 m-3"
                            data-bs-dismiss="modal" aria-label="Cerrar">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/funcion_ojo.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% if ok %}
    <script>var  mostrarModal = "true"; </script>
    {% endif %}
    <script src="{% static 'js/modales.js' %}"></script>

</body>
