<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial, sans-serif; font-size: 25px; color: #333333; padding: 20px;">
    <div
        style="max-width: 600px; margin: auto; border: 1px solid #e0e0e0; border-radius: 10px; padding: 30px; background-color: #f9f9f9;">
        <h2 style="color: #E6B41E; text-align: center;">¡Bienvenido al sistema de SYMA!</h2>

        <div
            style="background-color: #ffffff; padding: 15px; border-left: 5px solid #4CAF50; border-radius: 10px; margin-bottom: 20px;">
            <p>Has solicitado restablecer tu contraseña. Haz clic en el siguiente enlace para continuar:</p>

            <p>
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
                    style="color: #E6B41E; font-weight: bold; text-decoration: none;">
                    Restablecer contraseña
                </a>
            </p>
        </div>

        <p style="color: rgb(60, 2, 2); font-weight: bold; text-align: center;">
            Si no solicitaste este cambio, ignora este mensaje.
        </p>

        <div style="text-align: center; font-size: 16px; margin-top: 30px; color: #777777;">
            Gracias por hacer parte de este proyecto. <br>
            Cualquier duda, estamos para ayudarte.<br><br>
            <strong>Atentamente,<br>Equipo SYMA</strong>
        </div>
    </div>
</body>

</html>