body {
    margin: 0;
    font-family: 'Inknut Antiqua', serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 100%;
    min-height: 100vh;
    background: #A3BD31;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_principal {
    width: 75%;
    max-width: 1100px;
    height: auto;
    background: #fff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

.contenedor_secundario{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    margin: 0;
    margin: auto;
}

.contenedor_izquierdo{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor_derecho{
    width: 50%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin:  20px 20px 50px 20px;
    padding: 0 0 30px 0;
    box-shadow: 0px 0px 18px rgba(0,0,0,0.30);
}

.logo{
    width: 20%;
    height: auto;
    display: flex;
    align-items: start;
    margin: 20px 50px;
}

.imagen_logon {
    width: 96%;
    height: auto;
    margin-top: 20px;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.encabezado {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
}

.encabezado legend {
    font-size: 32px; 
    font-weight: 400;
    color: #E6B41E;
    text-shadow: 0 3px 4px #bbb; 
    text-align: center;
    padding: 20px 0;
}

.contenedor_izquierdo h2{
    font-size: 27px; 
    font-weight: 400;
    margin: 0;
    color: #E6B41E;
}

.contenedor_izquierdo p{
    font-size: 18px; 
    font-weight: 300;
    margin: 0;
    color: #A49E9E;
}

.campo {
    margin-bottom: 30px;
}

.campo input {
    width: 100%;
    background: transparent;
    color: #C8BFBF;
    padding: 5px 20px;
    border: 3px solid #C8BFBF;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Inknut Antiqua', serif;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.campo .correo{
    width: 100%;
    background: transparent;
    color: #C8BFBF;
    padding: 15px 20px;
    border: 3px solid #C8BFBF;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Inknut Antiqua', serif;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.campo ::placeholder {
    color: #C8BFBF;
    border: none;
}

.recuperar {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    color: #A3BD31;
    text-decoration: none;
    text-align: start;
}

.boton {
    width: 100%;
    margin-top: 5px;
    padding: 15px;
    background: #A3BD31;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.50);
    transition: 0.3s;
}

.boton:hover {
    color: #eee;
    background: #8fa52a;
}

/* Estilos adicionales para la pagina de restablecimiento de contraseña */

.encabezado .restablecer {
    font-size: 27px;
    padding-bottom: 40px;
}

.contenedor_izquierdo .restablecer {
    font-size: 22px;
    padding-top: 40px;
}

.restablecer_contraseña {
    padding: 30px 0 50px 0;
}

/* ===== MEDIA QUERIES ===== */
@media (max-width: 800px) {
    .contenedor_principal {
        width: 95%;
    }
}
