{% extends "filtro_base.html" %}

{% block campos_filtro %}
    <div class="campo-filtro" style="min-width: 220px;">
        <input type="text" id="rango-fecha" placeholder="Rango de fechas" readonly 
            data-inicio="{{ request.GET.fecha_inicio }}" 
            data-fin="{{ request.GET.fecha_fin }}">
    </div>

    <input type="hidden" name="fecha_inicio" id="fecha_inicio" value="{{ request.GET.fecha_inicio }}">
    <input type="hidden" name="fecha_fin" id="fecha_fin" value="{{ request.GET.fecha_fin }}">

    <div class="campo-filtro">
        <input type="text" name="actividad" placeholder="Actividad"  value="{{ request.GET.actividad }}">
    </div>

    <div class="campo-filtro">
        <input type="text" name="ubicacion" placeholder="Ubicación" value="{{ request.GET.ubicacion }}">
    </div>

    <div class="campo-filtro">
        <input type="text" name="Cuadrilla" placeholder="Cuadrilla" value="{{ request.GET.Cuadrilla }}">
    </div>

    <div class="campo-filtro">
        <input type="number" name="cedula" placeholder="Cedula" value="{{ request.GET.cedula }}">
    </div>

    <div class="campo-filtro">
        <input type="text" name="nombre" placeholder="Nombre" value="{{ request.GET.nombre }}">
    </div>

    <div class="campo-filtro">
        <input type="number" name="rendimiento_real" placeholder="Rendimiento real" value="{{ request.GET.rendimiento_real }}">
    </div>

{% endblock %}

